RewriteEngine On
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/
RewriteCond %{HTTP_HOST} !^dinarcraft\.ru(?::443)?$ [NC]
RewriteCond %{THE_REQUEST} \s(/[^?\s]*)[?\s]
RewriteRule ^ https://dinarcraft.ru%1 [R=301,L,NE]
